#cabecalho {
	background-color: #6175f0;
	padding-left: 34px;
	padding-top: 20px;
	padding-bottom: 13px;
}

#cabecalho h1{
	font-family: "Kaushan Script", cursive;
	font-size: 36px;
	color: white;
}

#cabecalho h2{
	color: white;
}

h2{
	font-family: "Times New Roman";
	font-size: 24px;
}

#verdade img{
	width: 310px;
  	float: left; /* right, none */
  	margin-right: 13px;
}


#verdade h2{
	color: black;
}


#verdade p{
	font-family: "Arial", "FreeSans", sans-serif;
	font-size: 14px;
	color: black;
}

#musica {
	padding-top: 20px;
	clear: left;

}

#musica p, h2{
	margin-left: 12px;
}

#musica > p:nth-child(2n){
	margin-left: 34px;
}

#hoje {
	box-sizing: border-box;
	margin-right: 25px;
	background-color: #f8cef7;
	border: 1px solid #ff56fb;
	max-width: 405px; 
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 20px;
	padding-bottom: 30px;
  	float: right; /* right, none */
  	text-align: center;
}

div.destacado {
	color: #004a79;
	background-color: #c4caf3;
}

div.destacado > p:nth-child(2n){
	padding-left: 34px;
}


#musica h2{
	font-family: "Times", "FreeSerif", serif;
	font-size: 18px;
}

#hoje img{
	width: 112px;
	height: 112px;
}
